<div class="container">
  <div class="row">
    <div class="col-md-8">
      Welcome, <%= @user.username %>
    <%= button_to "edit", @user, method: :patch, class: "btn btn-danger" %>
    </div>
  </div>
</div>
