<div class="jumbotron">
      <div class="container">
        <h1>Let us take you..</h1>
        <p> In need of some fun in the sun? Look no further – you've arrived at your destination. View our gallery of recommended exotic getaways, complete with reviews, pictures, and tips provided by other vacationers.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        <p><%= link_to "Sign Up Today" , new_user_path, class: "btn btn-success btn-lg" %></p>
      </div>
</div>
