<h2>Cities you've visted</h2><br>
There are currently <%= @cities.length %> on our list!
<% @cities.each do |city| %>
    <h3> <%= city.city_name %> </h3>
    <h4> <%= city.country %> </h4>
    <% if current_user %>
      <%= button_to "Add review", reviews_path(city) %>
    <% end %>
  <br>
<% end %>
