
<h2>Cities you've visted</h2><br>

<h2>Welcome To Destinations Page</h2>
<div class = "cityCount">

There are currently <%= @cities.length %>, destinations on our list!
</div>
<% @cities.each do |city| %>
    <h3> <%= city.city_name %> </h3>
    <h4> <%= city.country %> </h4>
    <% if current_user %>
      <%= button_to "Add review", reviews_path(city) %>
    <% end %>
  <br>
<% end %>
