<div class="container pad-down">
  Welcome to, <%= @city.city_name %>
              <% @city.reviews.each do |rev| %>
                <%= rev.rating %>
                <%= rev.description %>
              <% end %>
</div>
