/* app/assets/stylesheets/application.css
 *
 *= require bootstrap.min
 *= require carousel
 *= require main
 */

h1{
  font-family: cursive;
  font-weight: bolder;
}
body{
  background-color: #CCCCFF;
  font-family: cursive;
  font-size: 24px;
  font-weight: bolder;
}
.reviewIndex{
  background-color: seagreen;
  font: 20px;
}
.reviewShow{
  font-weight: bolder;
  font-style: italic;
  font: lucida;
  font-size: 22px;
}
.user-form{
  font: lucida;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
