/* app/assets/stylesheets/application.css
 *
 *= require bootstrap.min
 *= require carousel
 *= require main
 *= require users
 */

h1{
  font-family: cursive;
  font-weight: bolder;
}
body{
  background-color: seagreen;
  font: lucida;
}
