/* app/assets/stylesheets/application.css
 *
 *= require bootstrap.min
 *= require carousel
 *= require main
 */

h2{
  font-family: cursive;
  font-weight: bolder;
  color: white;
}
.first-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.second-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.third-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.fourth-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.fifth-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.carousel-caption{
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
body{
  background-color: lightcyan;
  font-family: cursive;
  font-size: 24px;
  font-weight: bolder;
}
.reviewIndex{
  background-color: seagreen;
  font: 20px;
}
.reviewShow{
  font-weight: bolder;
  font-style: italic;
  font: lucida;
  font-size: 22px;
}
.user-form{
  font: lucida;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
