
h2{
  font-family: cursive;
  font-weight: bolder;
  color: white;
}
.first-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.second-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.third-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.fourth-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.fifth-slide{
  display: block;
  position: fixed;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.carousel-caption{
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
body{
  background-color: black;
  color:white;
  font-family: cursive;
  font-size: 16px;
  font-weight: bolder;
}
.reviewIndex{
  background-color: seagreen;
  font: 20px;
}
.reviewShow{
  font-weight: bolder;
  font-style: italic;
  font: lucida;
  font-size: 21px;
}
.user-form{
  font: lucida;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
