



<div class="reviewIndex">
  <h1>Welcome to Reviews main page!</h1>
  <p><% @reviews.each do |review|%></p>
    <h3><%= review.username %></h3>
    <h3><%= review.city_name %></h3>
    <h3><%= review.rating %></h3>
    <h3><%= review.description %></h3>
  <% end %>
</div>
