<h1>User: <%=@user.username%>, has made reviews on the following cities:</h1>
<% @cities.each do |city| %>
<%= city.city_name %>, <%= city.country %> -- <%=link_to "See Review", user_review_path %>
<br>
<% end %>
