
<h1>User: <%=@user.username%>, has made reviews on the following cities:</h1>
<ul>
<% @cities.each do |city| %>
<li><%= city.city_name %>, <%= city.country %> -- <%=link_to "See Review", review_path(current_user)  %>
</li>
<% end %>
</ul>
